<%- include header %>
	<ul style="list-style:none">
		<li><h3><a href="http://lengly.top">零度空间</a></h3>我的博客</li>
		<li><h3><a href="http://www.baidu.com">百度</a></h3>百度一下，你就知道！</li>
	</ul>
<%- include footer %>